#calc {
    color: #000;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#num-system span {
    cursor: pointer;
}

#prog-calc {
    position: relative;
}

#prog-calc::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 100%;
    left: -5px;
    top: 10px;
    background-color: white;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

#display {
    display: grid;
    grid-template-columns: 10% 90%;
}

#hex {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    gap: 5px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
}

#numbers {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    display: grid;

    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 5px;
}

#operators {
    grid-row: 1 / 3;
    grid-column: 4 / 6;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(1fr, 100px)); */
    gap: 5px;
}

.active-system {
    position: relative;
}

#prog-calc-container {
    width: 75%;
    margin: auto;
}

@media screen and (max-width: 450px) {
    button {
        font-size: 10;
    }
    #prog-calc-container {
        width: 100%;
        margin: 0;
    }
    #prog-calc {
        width: 100vw;
    }
    #hex {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
    #operators {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
}

.active-system::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 50%;
    left: -5px;
    bottom: 0;
    background-color: blue;
}

.footer-block {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
}

#info-block {
    height: 95vh;
}

#calc-img {
    border-radius: 5px;
}

#simple-operators {
    grid-row: 2 / 3;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 5px;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img {
    text-align: center;
}
.profile-img img {
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5 {
    color: #333;
}
.profile-head h6 {
    color: #0062cc;
}
.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs {
    margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}
.profile-work {
    padding: 14%;
    margin-top: -15%;
}
.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul {
    list-style: none;
}
.profile-tab label {
    font-weight: 600;
}
.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}
